ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 5px;
    background-color: #d8d8d8;
    border-radius: 5px;
    margin-bottom: 5px;
}

li:hover {
    background-color: #f7e1e1;
}

.selected-task {
    background-color: transparent;
    font-weight: bold; 
    color: green; 
}

.selected-task::before {
    content: "✔ "; 
    color: green; 
    font-weight: bold;
}